
/*Dark Mode*/
@media (prefers-color-scheme: dark) {
  .youtube div:hover{
  background-color: rgba(0, 0, 0, .5);
  color: white;
  }
#bgimage{
  background-image: url("../images/bg.png");
}
  body{
    background-color: rgba(0, 0, 0, 0);
      background-repeat: repeat;
      color: white;
  }
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(9,10,11,1);
      box-shadow: inset 0 0 6px rgba(9,10,11,1);
      background-color: #1d1e1c;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #090a0b;
    outline: 1px solid #e21c00;
  }
  .bgname{
    text-shadow: 5px 5px 0px #000000;
  }
  .bg_image{
    background-color: rgba(0, 0, 0, .5);
  }
  #nav{
    background-color: rgba(16, 16, 16, .5);
    border-bottom: 1px solid black;
  }
  .spacer{
    background: black;
  }
  .button{
    background-color: rgba(0, 0, 0, .5);
    color: #e20500;
  }
}
/*Light Mode*/

@media (prefers-color-scheme: light) {
  .youtube div:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  }
  
  
#bgimage{
  background-image: url("../images/bg_clear.png");
}
  body{
    background-color: #ffffff;
    color: black;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,1);
    box-shadow: inset 0 0 6px rgba(255,255,255,1);
    background-color: #e2e1e3;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f6f5f4;
    outline: 1px solid #e21c00;
  }
  .bgname{
    text-shadow: 5px 5px 0px #ffffff;
  }
  .bg_image{
    background-color: rgba(255, 255, 255, .25);
  }
  #nav{
    background-color: rgba(239, 239, 239, .5);
    border-bottom: 1px solid white;
  }
  .spacer{
    background: white;
  }
  .button{
    background-color: rgba(255, 255, 255, .5);
    color: #e20500;
  }
}


@media (max-width: 100%) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
@font-face {
  font-family: univers;
  src: url(univers.ttf);
}
@font-face {
  font-family: 'univers';
  src: url('Univers-Black.eot'); /* IE9 Compat Modes */
  src: url('Univers-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Univers-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('Univers-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Univers-Black.textsvg') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

::-webkit-scrollbar {
    width: .5em;
}
body{
  font-family: 'Rubik', sans-serif;
  margin: 0 0 0 0;
  font-size: 16px;
  overflow-x: hidden;
}
#articles{
  min-height: calc(100vh - 33px);
}
nav{
  backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
  vertical-align: baseline;
  display:inline-flex;
  height: 40px;
  position: fixed;
  width: 100%;
  color: white;
  top:0px;
  padding: 8px 0;
  z-index: 99;
  margin:0;
  overflow: hidden;
}
.textsvg{
  max-height: 80px;
  max-width: 100%;
}
#community{
  background-image: url(../images/community.jpg);
}
#gamesbg{
  background-image: url(../images/smashbros.png);
}
#youtubebg{
  background-image: url(../images/youtube.png);
}
#tournamentsbg{
  background-image: url(../images/tournaments.png);
}
.bg{
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center center;
        background-attachment:fixed;

}
.bg_image{
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 56px 0 0 0;
}

fieldset{
  border-color: rgba(0, 0, 0, 0.5);
  width: auto;
  display: inline-block;
}

area{
  outline: none;
}

.button {
  margin-right: 5px;
  text-decoration:none;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: baseline;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    font-family: univers;
    z-index: 100;
}

.button::-moz-focus-inner {
    border: none;
}

/* Overlay */
.button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.button:hover,
.button:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.button:hover::before {
    opacity: 0.08;
}

.button:focus::before {
    opacity: 0.24;
}

.button:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.button:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.button:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.button:disabled::before {
    opacity: 0;
}

.button:disabled::after {
    opacity: 0;
}
footer{
  width: 100%;
  min-height: 30px;
  color: white;
  background-color: black;
}
footer a{
  color: white;

}
.bgname{
  font-family: univers;
  font-size: min(12vw, 100px);
  text-transform: uppercase;
  color: #e20500;
  width: fit-content;
  height: fit-content;
  line-height: min(12vw, 100px);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
@media screen and (max-width: 894px) {
  .bgname {
  font-size: 11.17vw;
  }
  }
h1{
  margin: 0 0 0 0;
  color: #e20500;
  
  text-shadow: 0 0 5px black;
}
.text{
   padding: 58px 3vw 20px 3vw;
   display: flex;
}
.spacer{
  width: 1px;
  margin-right: 8px;
}
#buttondiv{
  max-width: calc(50vw - 20px);
  overflow-x: auto;
  overflow-y:hidden;
  white-space: nowrap;
  z-index: 100;
}
#buttondiv::-webkit-scrollbar {
  display: none;
}
#logotext{
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 4;
  position: absolute;
  top: 5px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
#logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: 4;
  position: absolute;
  top: 5px;
  width: 100%;
  display: none;
}
#top{
  padding: 56px 0 0 0;
  height: calc(100vh - 56px);
  display : inline-block;
  width: 100%;
  display: flex
  ;
}
#left{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, .125);
  border-right: 1px solid rgba(0, 0, 0, .5);
  display: block;
}
#bgimage{
  
  z-index: -1;
  width: 200%;
  height: 200%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-size: 20vh 20vh;
  animation-name: MOVE-BG;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes MOVE-BG {
   from {
     transform: translateX(0) translateY(0);
   }
   to { 
     transform: translateX(-20vh) translateY(-20vh);
   }
}

#logotext a{
  color: #e20500;
  font-size: 50px;
  text-decoration: none;
}
#left a{
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 500 !important;
  padding: 7px 0px;
  background-color: rgba(0, 0, 0, .1);
  border-bottom: #000000 1px solid;
  font-family: univers;
  color: #e20500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

#left a:hover,
#left a:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

#left a:hover::before {
    opacity: 0.08;
}

#left a:focus::before {
    opacity: 0.24;
}

#left a:hover:focus::before {
    opacity: 0.3;
}

/* Active */
#left a:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#left a:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}
#introtext{
  text-align: center;
}
#hamburger{
  font-size: 20px;
  color: #e20500;
  font-family: univers;
  vertical-align: middle;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-weight: 900;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 40px;
  z-index: 100;
}
.hide{
  animation-name: hide;
  animation-duration: .25s;
  animation-timing-function: linear;
  visibility: hidden;
}

@keyframes hide {
  from{
    opacity: 1;

  }
  to{
    opacity: 0;
  }
  0%{
    visibility: visible;

  }
  99%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
  }
}
.show{
  animation-name: show;
  animation-duration: .25s;
  animation-timing-function: linear;
  visibility: visible;
}
@keyframes show {
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
  0%{
    visibility: hidden;

  }
  1%{
    visibility: visible;
  }
}
#slippiyt{
  
  background-image: url(../images/slippi.png);
}
#history{
  
  background-image: url(../images/history.png);
}
.youtube{
  width: 20vw;
  height: calc(20vw * 0.5625);
  border: 1px black solid;
  background-size: cover;

}
.youtube div{
  backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
  -moz-backdrop-filter: blur(0px);
  -o-backdrop-filter: blur(0px);
  -ms-backdrop-filter: blur(0px);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
  font-size: 2vw;
  vertical-align: middle;
  line-height: 10vw;
  
}
.youtube div:hover{
  backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  opacity: 1;

}
a{
  text-decoration: none
}
.text a{
  margin-right: 1vw;
}
.buttonsvg{
  opacity: 1;
  z-index: 100;
}